@import '@fontsource/poppins';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{font-family: "Outfit", serif;}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .submenu {
    @apply overflow-hidden transition-all duration-300 ease-in-out;
  }
  
  .submenu > ul {
    @apply transform origin-top transition-all duration-300;
  }
}

/* Smooth transitions for dropdowns */
.slide-enter {
  max-height: 0;
  opacity: 0;
}

.slide-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.slide-exit {
  max-height: 500px;
  opacity: 1;
}

.slide-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* Hide the scrollbar for the whole page */
html, body {
  overflow: hidden;
}

/* Optional: Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}
